body {
    background: #B60404; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #B60404 , #BA1400); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #B60404, #BA1400); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #B60404, #BA1400); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #B60404 , #BA1400); /* Standard syntax */

    padding: 15px;
}

* {
    color: #6B6B6B;
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.container {
    /*position: fixed;*/
    background-color: #FEFAFA;
    background-image: url('../img/wave.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    margin: 0 auto;
    min-height: 100%;

    text-align: center;

    padding: 15px;
}

.form-line {
    margin: 16 auto;
}

.input {

    background-color: transparent;
    width: 100%;

    height: 36px;

    border: none;
    border-bottom: 2px solid #ECEAEA;

    background-image: url('../img/icon/png/name.png');
    background-position: 10px 10px;
    background-size: 16px;
    background-repeat: no-repeat;
    opacity: 0.50;
    padding-left: 40px;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.input:focus {
    outline: none;

    opacity: 0.65;

    border-bottom: 2px solid #BBBBBB;
}

.button {
    outline: none;
    background: #F90000;
    color: #EEEEEE;

    margin-top: 20px;
    height: 36px;
    width: 100;
    border-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    text-shadow: none;
}

.button:hover {
    background: #DE2009;
    color: #EEEEEE;

    margin-top: 20px;
    height: 36px;
    width: 100;
    border-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.button:active {
    background: #DE2009;
    color: #EEEEEE;

    margin-top: 20px;
    height: 36px;
    width: 100;
    border-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}




label {
    font-weight: 400;
}

a, a:visited {
    color: #6B6B6B;
    border-bottom: 1px solid #6B6B6B;
    text-decoration: none;
}

a:hover {
    color: #F90000;
    border-bottom: 1px solid #F90000;
    text-decoration: none;
}

a.red {
    color: #FC000D;
    text-decoration: none;
    border-bottom: 1px solid #FC000D;
}

a.red:hover {
    color: #DE2009;
    border-bottom: 1px solid #DE2009;
    text-decoration: none;
}
